@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Nunito';
    font-style: normal;
}

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #F1F1F1;
}

section {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

h1 {
    font-size: 40px;
    color: #777777;
}

.circles {
    display: flex;
    gap: 48px;
}

.small-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#circle-green {
    background-color: #34A852;
}

#circle-blue {
    background-color: #4285F4;
}

#circle-yellow {
    background-color: #FABB05;
}

#circle-red {
    background-color: #EA4335;
}

footer {
    margin-bottom: 40px;

    display: flex;
    gap: 4px;
}

p {
    font-size: 20px;
    font-weight: 700;
    color: #989898;
}