@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-style: normal;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
}

.color-white {
    background-color: #F1F1F1
}

.container-top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F1F1F1;
    height: 50%;
}

.text {
    color: #777777;
    font-family: 'Nunito';
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
}

.container-down {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #F1F1F1;
    height: 50%;
}

.small-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 100rem;
    margin-right: 1.75rem;
    margin-top: 0.5rem;
}

#circle-1 {
    background: #34A852;
    animation: circle-1-animation 3s ease;
    animation-iteration-count: 2;
}

@keyframes circle-1-animation {
    0% {
        background: #F1F1F1;
    }

    50% {
        background: #34A852;
    }

    100% {
        background: #F1F1F1;
    }
}

#circle-2 {
    background: #4285F4;
    animation: circle-2-animation 3.3s ease;
    animation-iteration-count: 2;
}

@keyframes circle-2-animation {
    0% {
        background: #F1F1F1;
    }

    50% {
        background: #4285F4;
    }

    100% {
        background: #F1F1F1;
    }
}

#circle-3 {
    background: #FABB05;
    animation: circle-3-animation 3.6s ease;
    animation-iteration-count: 2;
}

@keyframes circle-3-animation {
    0% {
        background: #F1F1F1;
    }

    50% {
        background: #FABB05;
    }

    100% {
        background: #F1F1F1;
    }
}

#circle-4 {
    background: #EA4335;
    animation: circle-4-animation 3.9s ease;
    animation-iteration-count: 2;
}

@keyframes circle-4-animation {
    0% {
        background: #F1F1F1;
    }

    50% {
        background: #EA4335;
    }

    100% {
        background: #F1F1F1;
    }
}


.container-footer {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.footer-text {
    font-size: 1rem;
    font-weight: 700;
    color: #989898;
}

#icon-coracao {
    width: 1rem;
    margin: 0.5rem;
}

.container-top-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F1F1F1;
    height: 25%;
}

#container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    height: 45%;
    margin-right: 9rem;
}

.big-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 100rem;
    margin-left: 5rem;
}

#bcircle-0 {
    background: #F1F1F1;
}

#bcircle-1 {
    background: #34A852;
}

#bcircle-2 {
    background: #4285F4;
}

#bcircle-3 {
    background: #FABB05;
}

#bcircle-4 {
    background: #EA4335;
}

.numbers {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
    width: 7rem;
    border: none;
    outline: none;
    color: #F1F1F1;
}

#numb-1 {
    background-color: #34A852;
}

#numb-2 {
    background-color: #4285F4;
}

#numb-3 {
    background: #FABB05;
}

#numb-4 {
    background: #EA4335;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}

.buttom:hover {
    filter: opacity(0.8);
}

#buttom-green {
    background: #34A852;
}

#buttom-blue {
    background: #4285F4;
}

#buttom-orange {
    background: #FABB05;
}

#buttom-red {
    background: #EA4335;
}

.buttom-text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #F1F1F1;
}

.icon-arrow {
    width: 1.25rem;
    margin-left: 0.5rem;
}

#container-down-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    height: 30%;
}

.attempts {
    width: 1.5rem;
    margin-bottom: 8rem;
    margin-right: 2rem;
}

.container-top-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 35%;
}

.yes {
    background-color: #34A852;
}

.no {
    background-color: #EA4335;
}

.text-final {
    color: #F1F1F1;
    font-family: 'Nunito';
    font-size: 6rem;
    font-weight: 700;
}

#container-center-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.text-final-2 {
    color: #F1F1F1;
    font-family: 'Nunito';
    font-size: 3rem;
    font-weight: 700;
}

.container-down-3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 30%;
}

.white {
    color: #F1F1F1;
}

.left-circle-0 {
    width: 7rem;
    height: 7rem;
    border-radius: 100rem;
    margin-left: 5rem;
    margin-right: -2rem;
}

@media (max-width: 1024px) {
    #body {
        justify-content: center;
        flex-direction: column;
    }

    .text,
    .text-final,
    .text-final-2 {
        font-size: 1.0rem;
    }

    .big-circle {
        width: 8rem;
        height: 8rem;
        border-radius: 100%;
        margin-right: 0rem;
    }

    .numbers {
        font-size: 4rem;
        width: 8rem;
        border-radius: 100%;
    }

    .buttom {
        width: 7rem;
        height: 2rem;
        margin-right: 1rem;
    }
}